{% extends 'base/base.html' %}
{% load static %}
{% block title %}
Users | HalkaPan
{% endblock %}
{% block additional_head %}
<link rel="stylesheet" href="{% static 'userprofile/css/author-page.css' %}">
<link rel="stylesheet" href="{% static 'posts/css/blog_box_display.css' %}">
{% endblock %}

{% block main_content %}

<div class="container">
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8 col-md-offset-2">
            <div class="mainheading">
                <div class="row post-top-meta authorpage">
                    <div class="col-md-10 col-xs-12">
                        <h1>{{object.user.username}}</h1>
                        <span class="author-description">Write about the user here haha he he he eheh eeh</span><br>
                        <hr>
                        <div class="counter d-flex justify-content-center">
                            <div class="col">
                                <strong class="number">{{object.user.profile.post_set.all.count}}</strong>
                                <span class="number-label">Posts</span>
                            </div>
                            <div class="col">
                                <strong class="number"
                                    id="author-follower-number">{{object.user.profile.user.followers.count}}</strong>
                                <span class="number-label">Followers</span>
                            </div>
                            <div class="col">
                                <strong class="number following-number">{{object.user.profile.following.count}}</strong>
                                <span class="number-label">Following</span>
                            </div>

                        </div>
                        <hr>
                        {% if not user == object.user %}
                        {% if user.is_authenticated %}
                        <a role="button" type="button" id="follow-toggle"
                            href="{% url 'userprofile:follow-toggle' object.user.username %}" class="btn btn-primary container-fluid">
                            {% if user_follows %}
                            Unfollow
                            {% else %}
                            Follow
                            {% endif %}</a>

                        {% else %}
                        <a role="button" type="button"
                            href="{% url 'accounts:login' %}?next={% url 'userprofile:author-profile-page' object.user.username %}"
                            class="btn btn-primary">Follow</a>
                        {% endif %}
                        {% endif %}
                    </div>
                    <div class="col-md-2 col-xs-12">
                        <img class="author-thumb" src="{{object.image.url}}" alt="{{object.user.username}} Profile">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="graybg authorpage">
    <div class="container">
        <div class="row">
            {% for post in user_posts %}
            <div class="col-lg-4 col-md-6 col-sm-12">
                {% include 'posts/snippets/blog_box_display.html' with obj=post%}
            </div>
            {% endfor %}
        </div>
    </div>
</div>

{% endblock %}

{% block additional_body %}
<script src="{% static 'userprofile/js/follow-toggle.js' %}"></script>
{% endblock %}