{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="icon" type="image/png" href="{% static 'img/favicon.ico' %}">
    <!-- Title Tag -->
    <title>
        {% block title %}

        {% endblock %}
    </title>

    <!-- Including css -->
    {% include 'base/base_css.html' %}

    <!-- Content for Page Specific head -->
    {% block additional_head %}

    {% endblock %}

</head>

<body>

    <!-- Sidebar Component -->
    {% include 'components/sidebar.html' %}
    <!-- Messages -->
    {% include 'components/messages.html' %}
    <!-- Top Head Bar - which will be stretch from left to right and will be fixed -->
    <div class="container-fluid d-block top-head-bar"></div>
    <main class="pt-4">
        <!-- Main Content -->
        {% block main_content %}

        {% endblock %}
    </main>
    <!-- Including javascript -->
    {% include 'base/base_js.html' %}

    <!-- Content for Page Specific Extra content like:javascript -->
    {% block additional_body %}

    {% endblock %}

</body>

</html>