{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="icon" type="image/png" href="{% static 'img/favicon.ico' %}">
    <!-- Title Tag -->
    <title>
        {% block title %}

        {% endblock %}
    </title>

    <!-- Including css -->
    {% include 'myadmin/adminbase/admin-css-base.html' %}

    <!-- Content for Page Specific head -->
    {% block additional_head %}

    {% endblock %}
    </div>

</head>

<body>

    <!-- Sidebar Component -->
    {% include 'myadmin/components/admin-sidebar.html' %}

    <!-- Main Content -->
    {% block main_content %}

    {% endblock %}

    <!-- Including javascript -->
    {% include 'myadmin/adminbase/admin-js-base.html' %}

    <!-- Content for Page Specific Extra content like:javascript -->
    {% block additional_body %}

    {% endblock %}

</body>

</html>