@import url("https://fonts.googleapis.com/css2?family=Quicksand&display=swap");
/* Putting a Top Bar  */
.top-head-bar {
    background-color: #326496;
    height: 45px;
    position: fixed;
    z-index: 1;
}
html {
    height: 100%;
}

body {
    min-height: 100%;
    background-color: #f2f2f2;
    font-family: "Quicksand", sans-serif;
}

span.help-block {
    color: red;
}
