{% extends 'base/base.html' %}
{% load bootstrap %}
{% block title %}
Password Change | HalkaPan
{% endblock %}
<!-- Main Content -->
{% block main_content %}
<div class="content mt-5">
    <main>
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-8 my-3 mx-auto">
                    <form method="POST" enctype="multipart/form-data">
                        {% csrf_token %}
                        <fieldset class="form-group">
                            <legend class="border-bottom mb-4">Change Password</legend>
                            {{ form | bootstrap_horizontal }}
                        </fieldset>
                        <div class="form-group">
                            <button class="btn btn-outline-info m-3" type="submit">Update</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </main>
</div>

{% endblock %}