<div class="col-lg-4 col-md-4 col-sm6">
    <div class="blog__item">
        <div class="blog__item__pic">
            {% if obj.image %}
            <img class="img-fluid" src="{{obj.image.url}}" alt="{{obj.image.title}}" srcset="">
            {% else %}
            <img class="img-fluid"
                src="https://images.unsplash.com/photo-1525120334885-38cc03a6ec77?ixid=MXwxMjA3fDB8MHxzZWFyY2h8MXx8c2FkfGVufDB8fDB8&ixlib=rb-1.2.1&auto=format&fit=crop&w=800&q=60"
                alt="" srcset="">
            {% endif %}
        </div>
        <div class="blog__item__text">
            <h5><a class="text-decoration-none" href="{{obj.get_absolute_url}}">{{obj.title}}</a>
            </h5>
            <ul class="pl-0">
                <li><a href="#" class="fas fa-user text-decoration-none"> {% if obj.anonymous %} Anonymous {% else %}{{obj.author.user.username}}{% endif %}<a /></li>
                <li><a class="fas fa-calendar text-decoration-none"> {{obj.timestamp|timesince}} ago</a></li>
            </ul>
        </div>
    </div>
</div>