{% extends 'myadmin/adminbase/admin-base.html' %}

{% load static %}}
{% block title %}
Dashboard | HalkaPan
{% endblock %}

{% block additional_head %}
<link rel="stylesheet" href="{% static 'myadmin/css/admin-table.css' %}">
{% endblock %}

<!-- Main Content -->
{% block main_content %}
<div class="content">
    <main class="container my-3">
        <div class="container-fluid">
            <div class="container">
                <form method="GET" action="{% url 'myadmin:posts-list' %}" class="search-form">
                    <input name="q" type="search" placeholder="Search Here" value="{{query}}"
                        aria-describedby="button-addon2" class="form-control text-white border-0 bg-dark">
                </form>
            </div>
            <div class="row my-2">
                <div class="card-body table-responsive table-striped p-0">
                    <table class="table table-dark table-head-fixed text-nowrap">
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>Title</th>
                                <th>Author</th>
                                <th>Status</th>
                                <th>Image</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for object in object_list %}
                            <tr>
                                <td>{{object.id}}</td>
                                <td>{{object.title|truncatechars:30}}</td>
                                <td>{{object.author.user.username}}</td>
                                <td>{% if object.active %}Active{% else %}Inactive{% endif %}</td>

                                <td>{% if object.image %}<img src="{{object.image.url}}" width="50" height="50"
                                        alt="">{% endif %}</td>
                                <td>
                                    <a href="{% url 'myadmin:post-update' object.pk %}" data-toggle="tooltip"
                                        title="Update">
                                        <span class="material-icons text-primary">
                                            edit
                                        </span>
                                    </a>

                                    <a href="{% url 'myadmin:post-delete' object.id %}" data-toggle="tooltip"
                                        title="Delete Post"
                                        onclick="return confirm('Are you sure want to delete this user?')">
                                        <span class="material-icons text-danger">
                                            delete_forever
                                        </span>
                                    </a>
                                    {% if not object.active %}<a href="{% url 'myadmin:approve-post' object.id %}"
                                        data-toggle="tooltip" title="Approve Post"><span class="material-icons">
                                            check_circle
                                        </span></a>
                                    {% else %} <a href="{% url 'myadmin:disapprove-post' object.id %}"
                                        data-toggle="tooltip" title="Hide Post"><span class="material-icons">
                                            visibility_off
                                        </span></a>{% endif %}
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>

            </div>

    </main>
</div>

{% endblock %}