{% extends 'myadmin/adminbase/admin-base.html' %}

{% load static %}}
{% block title %}
Dashboard | HalkaPan
{% endblock %}

{% block additional_head %}
<link rel="stylesheet" href="{% static 'myadmin/css/admin-table.css' %}">
{% endblock %}

<!-- Main Content -->
{% block main_content %}
<div class="content">
    <main class="container my-3" <div class="container-fluid">
        <div class="row">
            <div class="card-body table-responsive table-striped table-light p-0" style="height: 500px;">
                <table class="table table-head-fixed text-nowrap">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Title</th>
                            <th>Author</th>
                            <th>Status</th>
                            <th>Image</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for object in object_list %}
                        <tr>
                            <td>{{object.id}}</td>
                            <td>{{object.title}}</td>
                            <td>{{object.author.user.username}}</td>
                            <td>{% if object.is_active %}Active{% else %}InActive{% endif %}</td>

                            <td>{% if object.image %}<img src="{{object.image.url}}" width="50" height="50" alt="">{% endif %}</td>
                            <td>
                                <a href="{% url 'myadmin:post-update' object.pk %}" data-toggle="tooltip" title="Update">
                                    <span class="material-icons text-primary">
                                        edit
                                    </span>
                                </a>

                                <a href="{% url 'myadmin:post-delete' object.id %}" data-toggle="tooltip"
                                    title="Delete Post"
                                    onclick="return confirm('Are you sure want to delete this user?')">
                                    <span class="material-icons text-danger">
                                        delete_forever
                                    </span>
                                </a>
                                {% if not object.is_active %}<a
                                    href="{% url 'myadmin:approve-post' object.id %}"
                                    data-toggle="tooltip" title="Approve Post"><span class="material-icons">
                                        check_circle
                                    </span></a>
                                {% else %} <a href="{% url 'myadmin:disapprove-post' object.id %}"
                                    data-toggle="tooltip" title="Hide Post"><span class="material-icons">
                                        visibility_off
                                        </span></a>{% endif %}
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>

        </div>

    </main>
</div>

{% endblock %}