{% extends 'myadmin/adminbase/admin-base.html' %}

{% load static %}}
{% block title %}
Dashboard | HalkaPan
{% endblock %}
<!-- Main Content -->
{% block main_content %}
<div class="content">
    <main>
        <div class="container-fluid">
            <!-- Small boxes (Stat box) -->

            <div class="row mx-auto">
                <div class="col-md-4 col-sm-6 my-3">
                    <div class="card text-white bg-dark mb-3" style="max-width: 18rem;">
                        <div class="card-header text-center">Users</div>
                        <div class="card-body text-center">
                            <h5 class="card-title">{{user_count}}<h5>
                                    <p class="card-text"><i class="fas fa-users fa-3x"></i></p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 my-3">
                    <div class="card text-white bg-dark mb-3" style="max-width: 18rem;">
                        <div class="card-header text-center">Posts</div>
                        <div class="card-body text-center">
                            <h5 class="card-title">{{post_count}}<h5>
                                    <p class="card-text"><i class="fas fa-rss-square fa-3x"></i></i></p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 my-3">
                    <div class="card text-white bg-dark mb-3" style="max-width: 18rem;">
                        <div class="card-header text-center">Authors</div>
                        <div class="card-body text-center">
                            <h5 class="card-title">{{author_count}}<h5>
                                    <p class="card-text"><i class="fas fa-at fa-3x"></i></p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 my-3">
                    <div class="card text-white bg-dark mb-3" style="max-width: 18rem;">
                        <div class="card-header text-center">Likes</div>
                        <div class="card-body text-center">
                            <h5 class="card-title">{{likes_count}}<h5>
                                    <p class="card-text"><i class="fas fa-heart fa-3x"></i></i></p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 my-3">
                    <div class="card text-white bg-dark mb-3" style="max-width: 18rem;">
                        <div class="card-header text-center">Comments</div>
                        <div class="card-body text-center">
                            <h5 class="card-title">{{comment_count}}<h5>
                                    <p class="card-text"><i class="fas fa-heart fa-3x"></i></i></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</div>
</main>
</div>

{% endblock %}