<div class="card-post-list">
    {% if obj.image %}
    <a href="{{obj.get_absolute_url}}">
        <img class="img-fluid mx-auto d-block" src="{{obj.image.url}}" alt="">
    </a>
    {% endif %}
    <div class="card-block">
        <h2 class="card-title"><a href="{{obj.get_absolute_url}}">{{obj.title}}</a>
        </h2>
        <h4 class="card-text">Little info goes here</h4>
        <div class="metafooter">
            <div class="wrapfooter">
                <span class="meta-footer-thumb">
                    {% if not obj.anonymous %}
                    <a href=""><img class="author-thumb" src="{{ obj.author.image.url }}"
                            alt="{{obj.author.user.username}}"></a>

                    {% else %}
                    <i class="fas fa-user-ninja fa-3x author-thumb"></i>
                    {% endif %}
                </span>
                <span class="author-meta">
                    {% if not obj.anonymous %}
                    <span class="post-name"><a
                            href="{% url 'userprofile:author-profile-page' obj.author.user.username %}">{{obj.author.user.username}}</a></span>
                    {% else %}
                    <span class="post-name"><a>Anonymous</a></span>

                    {% endif %}
                    <br />
                    <span class="post-date">{{obj.timestamp | date:'d M, Y'}}</span><span class="dot"></span><span
                        class="post-read">{{obj.read_time}}min</span>
                </span>
                <span class="post-like-love">
                    {% if user.is_authenticated %}
                    <a role="button" class="post-like-toggle" href="{% url 'posts:post-like-toggle' obj.slug %}"
                        title="Like"> {% if user.profile in obj.likes.all %}<i class="fa fa-heart fa-2x"></i>{% else %}
                        <i class="far fa-heart fa-2x"></i> {% endif %}</a>
                    {% else %}
                    <a role="button" href="{% url 'login' %}?next={% url 'posts:post-detail' obj.slug %}"
                        title="Like"><i class="far fa-heart fa-2x"></i></a>
                    {% endif %}
                </span>
            </div>
        </div>
    </div>
</div>