<form method="GET" action="{% url 'search:query' %}" class="search-form">
    <div class="p-1 bg-light col-lg-8 mx-auto rounded rounded-pill shadow-sm mb-4">
        <div class="input-group">
            <div class="input-group-prepend">
                <button id="button-addon2" type="submit" class="btn btn-link text-warning"><i
                        class="fa fa-search"></i></button>
            </div>
            <input name="q" type=" search" placeholder="What're you searching for?" value="{{query}}"
                aria-describedby="button-addon2" class="form-control border-0 bg-light">
        </div>
    </div>
</form>