{% load static %}
{% url 'myadmin:users-list' as users_list_url %}
{% url 'myadmin:admin-dashboard' as admin_dashboard_url %}
{% url 'myadmin:posts-list' as posts_list_url %}
<nav class="navbar navbar-expand-lg navbar-dark bg-mattBlackLight fixed-top">
    <button class="navbar-toggler sideMenuToggler" type="button">
        <span class="navbar-toggler-icon"></span>
    </button>

    <a class="navbar-brand mx-auto" href="#">HalkaPan</a>
</nav>
<div class="wrapper d-flex">
    <div class="sideMenu bg-mattBlackLight">
        <div class="sidebar">
            <ul class="navbar-nav">
                <li class="nav-item {% if request.path == admin_dashboard_url %}bg-mattBlackDark{% endif %}">
                    <a href="{{admin_dashboard_url}}" class="nav-link px-2">
                        <i class="material-icons icon">
                            dashboard
                        </i>
                        <span class="text">Dashboard</span>
                    </a>
                </li>
                <li class="nav-item {% if request.path == users_list_url %}bg-mattBlackDark{% endif %}">
                    <a href="{{users_list_url}}" class="nav-link px-2">
                        <i class="material-icons icon">
                            person
                        </i>
                        <span class="text">Users</span>
                    </a>
                </li>
                <li class="nav-item {% if request.path == posts_list_url %}bg-mattBlackDark{% endif %}">
                    <a href="{{posts_list_url}}" class="nav-link px-2">
                        <span class="material-icons icon">
                            rss_feed
                        </span>
                        <span class="text">Posts</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link px-2 sideMenuToggler">
                        <i class="material-icons icon expandView ">
                            view_list
                        </i>
                        <span class="text">Resize</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>