{% url 'accounts:login' as login_url %}
{% url 'accounts:logout' as logout_url %}
{% url 'accounts:register' as register_url %}
{% url 'search:query' as search_query_url %}
{% url 'posts:feed' as feed_url %}
{% url 'home:home-page' as home_url %}
{% url 'userprofile:user-profile-update' as user_profile_update_url %}
{% url 'posts:post-create' as post_create_url %}
<aside class="sidebar">
  <div class="toggle">
    <a href="#" class="burger js-menu-toggle" data-toggle="collapse" data-target="#main-navbar">
      <span></span>
    </a>
  </div>
  <div class="side-inner">
    {% if user.is_authenticated %}
    <div class="profile">
      {% if user.profile.image %}
      <img src="{{user.profile.image.url}}" alt="image description" class="img-fluid">
      {% endif %}
      <h3 class="name">{{user.username}}</h3>
      <span class="bio">Bio Here</span>
    </div>

    <div class="counter d-flex justify-content-center">
      <div class="col">
        <strong class="number">{{user.profile.post_set.all.count}}</strong>
        <span class="number-label">Posts</span>
      </div>
      <div class="col">
        <strong class="number">{{user.profile.user.followers.count}}</strong>
        <span class="number-label">Followers</span>
      </div>
      <div class="col">
        <strong class="number" id="currentuser-following-number">{{user.profile.following.count}}</strong>
        <span class="number-label">Following</span>
      </div>

    </div>
    {% endif %}

    <div class="nav-menu">
      <ul>
        <li><a class="{% if request.path == home_url %}active{% endif %}" href="{{home_url}}"><span
              class="fas fa-home mr-3"></span>Home</a></li>
        <li class="{% if request.path == feed_url %}active{% endif %}"><a href="{{feed_url}}"><span
              class="fas fa-seedling mr-3"></span>Feed</a></li>
        <li class="{% if request.path == post_create_url %}active{% endif %}"><a href="{{post_create_url}}"><span
              class="fas fa-feather-alt mr-3"></span>Express Yourself</a></li>
        <li class="{% if request.path == search_query_url %}active{% endif %}"><a href="{{search_query_url}}"><span
              class="fas fa-search mr-3"></span>Search</a></li>
        {% if not user.is_authenticated %}
        <li class="{% if request.path == login_url %}active{% endif %}"><a href="{{login_url}}"><span
              class="fas fa-key mr-3"></span>Login</a></li>
        <li class="{% if request.path == register_url %}active{% endif %}"><a href="{{register_url}}"><span
              class="fas fa-user mr-3"></span>Register</a></li>
        {% else %}
        <li class="{% if request.path == user_profile_update_url %}active{% endif %}"><a
            href="{{user_profile_update_url}}"><span class="fas fa-user mr-3"></span>Update Profile</a></li>
        <li><a href="{{logout_url}}"><span class="fas fa-sign-out-alt mr-3"></span>Logout</a></li>

        {% endif %}
        <li class="accordion">
          <a href="#" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false"
            aria-controls="collapseOne" class="collapsible">
            <span class="fa fa-bomb mr-3"></span>Others
          </a>

          <div id="collapseOne" class="collapse" aria-labelledby="headingOne">
            <div>
              <ul>
                <li><a href="#">Other 1</a></li>
                <li><a href="#">Others 2</a></li>
                <li><a href="#">Other 3</a></li>
              </ul>
            </div>
          </div>

      </ul>
    </div>
  </div>

</aside>