{% extends 'base/base.html' %}
{% load static %}
{% block title %}
HalkaPan
{% endblock %}

{% block additional_head %}
<link rel="stylesheet" href="{% static 'posts/css/blog_box_display.css' %}">
{% endblock %}

{% block main_content %}
<div class="explore container mt-4">
    {% include 'search/snippets/search-form.html' %}

    <div class="blog__list mx-auto">
        <div class="row">
            {% for post in object_list %}
            {% include 'posts/snippets/blog_box_display.html' with obj=post%}
            {% endfor %}
        </div>
    </div>
</div>

{% endblock %}
{% block additional_body %}
<script src="{% static 'posts/js/post-like-toggle.js' %}"></script>
{% endblock %}