{% extends 'base/base.html' %}
{% load static %}
{% block title %}
{{object.title}} | HalkaPan
{% endblock %}

{% block additional_head %}
<link rel="stylesheet" href="{% static 'posts/css/blog-detail.css' %}">
{% endblock %}

{% block main_content %}
<div class="container mt-4">
    <div class="row blog-detail-page">
        <div class="col-lg-8 col-md-10 col-md-offset-2 mx-auto col-xs-12">
            <div class="mainheading">

                <div class="row post-top-meta">
                    {% if not object.anonymous %}
                    <div class="col-12 m-2 m-sm-0 col-sm-2">
                        <a href=""><img class="author-thumb" src="{{object.author.image.url}}"
                                alt="{{object.author.user.username}}"></a>

                    </div>
                    <div class="col-12 col-sm-10">
                        <a class="link-dark" href="author.html">{{object.author.user.username}}</a><a href="#"
                            class="btn follow">Follow</a><br>
                        <span class="author-description">
                            User bio here</span><br>
                        {% else %}
                        <div class="col-md-2">
                            <img class="author-thumb"
                                src="{% static 'userprofile/img/anonymous-user-profile-pic.png' %}" alt="">
                        </div>
                        <div class="col-md-10">
                            <a class="link-dark">Anonymous User</a><br>
                            {% endif %}
                            <span class="post-date">{{object.timestamp | date:'d M, Y'}}</span><span
                                class="dot"></span><span class="post-read">10
                                min read</span>
                        </div>
                    </div>

                    <h1 class="posttitle">{{object.title}}</h1>

                </div>
                {% if object.image %}
                <img class="featured-image img-fluid" src="{{object.image.url}}" alt="">
                {% endif %}
                <div class="article-post">
                    {{object.content | safe}}
                </div>

                <div class="after-post-tags">
                    <ul class="tags">
                        {% for tag in object.tag_set.all %}
                        <li><a href="">{{tag}}</a></li>

                        {% endfor %}

                    </ul>
                </div>

            </div>
        </div>
    </div>
    {% endblock %}

    {% block additional_body %}
    <script src="{% static 'posts/js/confirm-delete.js' %}"></script>
    {% endblock %}