{% extends 'base/base.html' %}
{% load static %}
{% block title %}
{{object.title}} | HalkaPan
{% endblock %}

{% block additional_head %}
<link rel="stylesheet" href="{% static 'posts/css/blog-detail.css' %}">
{% endblock %}

{% block main_content %}
<div class="container mt-5">
    <div class="row blog-detail-page">
        <div class="col-lg-8 col-md-10 col-md-offset-2 mx-auto col-xs-12">
            <div class="mainheading">

                <div class="row post-top-meta">
                    {% if not object.anonymous %}
                    <div class="col-12 m-2 m-sm-0 col-sm-2">
                        <a href=""><img class="author-thumb" src="{{object.author.image.url}}"
                                alt="{{object.author.user.username}}"></a>

                    </div>
                    <div class="col-12 col-sm-10">
                        <a class="link-dark"
                            href="{% url 'userprofile:author-profile-page' object.author.user.username %}">{{object.author.user.username}}</a><br>
                        <span class="author-description">
                            User bio here</span><br>
                        {% else %}
                        <div class="col-md-2">
                            <img class="author-thumb"
                                src="{% static 'userprofile/img/anonymous-user-profile-pic.png' %}" alt="">
                        </div>
                        <div class="col-md-10">
                            <a class="link-dark">Anonymous User</a><br>
                            {% endif %}
                            <span class="post-date">{{object.timestamp | date:'d M, Y'}}</span><span
                                class="dot"></span><span class="post-read">{{object.read_time}} mins read</span>
                        </div>
                    </div>

                    <h1 class="posttitle">{{object.title}}</h1>

                </div>
                {% if object.image %}
                <img class="featured-image img-fluid" src="{{object.image.url}}" alt="">
                {% endif %}
                <div class="article-post">
                    {{object.content | safe}}
                </div>

                <div class="after-post-tags">
                    <ul class="tags">
                        {% for tag in object.tag_set.all %}
                        <li><a href="{% url 'tags:tag-list-view' tag.slug %}">{{tag}}</a></li>

                        {% endfor %}

                    </ul>
                </div>
                <!-- Like Button -->
                <div class="d-flex mb-3 justify-content-center">
                    {% if user.is_authenticated %}
                    <a role="button" type="button" class="post-like-toggle btn btn-light px-3"
                        href="{% url 'posts:post-like-toggle' object.slug %}" title="Like"> {% if user.profile in object.likes.all %}We are with you <i class="we-care fa fa-heart fa-2x"></i>{% else %}
                        We are with you <i class="we-care far fa-heart fa-2x"></i> {% endif %} <span
                            class="badge badge-info like-number">{{object.likes.count}}</span></a>
                    {% else %}
                    <a class="btn btn-light px-3" href="{% url 'login' %}?next={% url 'posts:post-detail' object.slug %}" role="button"
                       title="Like"
                       type="button">We are with you <i class="we-care far fa-heart fa-2x"></i><span
                            class="badge badge-info">{{object.likes.count}}</span></a>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    {% endblock %}

    {% block additional_body %}
    <script src="{% static 'posts/js/confirm-delete.js' %}"></script>
    <script src="{% static 'posts/js/blog-detail-page-post-like-toggle.js' %}"></script>
    {% endblock %}