{% extends 'base/base.html' %}
{% load static %}
{% block title %}
{{obj.title}}|HalkaPan
{% endblock %}

{% block main_content %}
<div class="container mt-4">
    <div class="row">
        <div class="col-lg-8 mx-auto">
            <h1 class="mt-4">{{object.title}}</h1>
            <p class="lead">By {{object.author.user.username}}</p>
            <hr>
            <p>Posted on {{object.timestamp | date:'d M, Y'}}</p>
            {% if object.author.user == request.user %}
            <form method="POST" class="delete-post-form" action="{% url 'posts:post-delete' object.slug %}">
                {% csrf_token %}
                <div class="form-group">
                    <button class="btn btn-outline-danger confirm-delete-post" type="submit">Delete</button>
                </div>
            </form>
            {% endif %}
            <hr>
            {{object.content | safe}}

            <div class="card my-4">
                <h5 class="card-header">Leave a Comment:</h5>
                <div class="card-body">
                    <form action="">
                        <div class="form-group">
                            <textarea class="form-control" name="comment" id="" rows="3">

                        </textarea>
                        </div>
                        <button type="submit" class="btn btn-success">Comment</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block additional_body %}
<script src="{% static 'posts/js/confirm-delete.js' %}"></script>
{% endblock %}